.worlds-canvas {
  background-color: black !important;
}

.button-container {
  position: absolute;
  top: 75%;
  z-index: 1;
}

.button-container.left {
  left: 40%;
}

.button-container.right {
  right: 40%;
}

.scroller {
  background: linear-gradient(145deg, #5165F6, #A43FFF);
  border: none;
  color: white;
  padding: 15px 20px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.scroller:focus {
  outline: none;
}

.current-object {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  background-color: black;
}

.speech-bubble {
  background: linear-gradient(135deg, #5165F6, #A43FFF);
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  animation: bubble-animate 0.5s ease-out;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #5165F6 transparent transparent transparent;
}

@keyframes bubble-animate {
  from {
      transform: scale(0.8);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
